<div ng-controller="adminMainViewController as controller" layout-padding>
  <md-content>
    <h1 flex>Admin Control Panel</h1>
    <md-button flex="50" class="" ng-click="controller.showAddDialog($event)">Add User</md-button>
    <md-button flex="50" class="" ng-click="controller.showEditDialog($event)">Edit User permissions</md-button>
    <md-button flex="50" class="" ng-click="">Remove User</md-button>
    <md-button flex="50" class="" ng-click="">View Schedule</md-button>
  </md-content>
</div>