<div style="visibility: hidden">
  <div id='edit' class='md-dialog-container' ng-controller="editClassController as controller">
    <md-dialog layout-padding>
      <md-dialog-content>
        <h3>Edit Class</h3>
        <md-input-container>
          <label>description</label>
          <input ng-model='controller.currentBlockInfo[controller.rootScope.block].description' type="text">
        </md-input-container>
        <md-input-container>
          <label>Subject</label>
          <input ng-model='controller.currentBlockInfo[controller.rootScope.block].subject' type="text">
        </md-input-container>
        <md-input-container>
          <label>Room Number</label>
          <input ng-model='controller.currentBlockInfo[controller.rootScope.block].roomNumber' type="number">
        </md-input-container>
        <md-input-container>
          <label>Max Size</label>
          <input ng-model='controller.currentBlockInfo[controller.rootScope.block].maxSize' type="number">
        </md-input-container>
        <md-input-container class="selectTransform">
          <label>Status</label>
          <md-select ng-model='controller.currentBlockInfo[controller.rootScope.block].status'>
            <md-option value='' disabled selected>Select Status</md-option>
            <md-option value='open' ng-class="(controller.currentBlockInfo[controller.rootScope.block].status == 'open')?'selected':''" >Open</md-option>
            <md-option value='closed' ng-class="(controller.currentBlockInfo[controller.rootScope.block].status == 'closed')?'selected':''" >Closed</md-option>
          </md-select>
        </md-input-container>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button ng-hide="true" ng-click="controller.updateBlockInfo()">refresh</md-button>
        <md-button ng-click="controller.closeDialog()">Back</md-button>
        <md-button ng-click='controller.submitEdit()'>Submit Edit</md-button>
      </md-dialog-actions>
    </md-dialog>
  </div>
</div>