<div ng-controller="mainViewController as controller">
  <h1  layout-padding flex>Classes</h1>
  <div>
    <h2 layout-padding flex>Current Week</h2>
    <div layout="row" layout-padding>
      <div flex></div>
      <div flex>Teacher</div>
      <div flex>Room Number</div>
      <div flex>Status</div>
      <div flex>Subject</div>
      <div flex>Description</div>
      <div flex>Current / Max size</div>
      <div flex></div>
    </div>
    <div layout="column" layout-padding>
      <div layout='row' ng-repeat="class in controller.currentClasses" flex>
        <div style="transform: translateY(25%)" layout-padding flex>{{ (class.curBlock==0)?'Tue/Wed': 'Thr/Fri' }}</div>
        <div style="transform: translateY(25%)" flex>{{ class.name }}</div>
        <div style="transform: translateY(25%)" flex>{{ class.blocks[class.curBlock].roomNumber }}</div>
        <div style="transform: translateY(25%)" flex>{{ class.blocks[class.curBlock].status }}</div>
        <div style="transform: translateY(25%)" flex>{{ class.blocks[class.curBlock].subject }}</div>
        <div style="transform: translateY(25%)" flex>{{ class.blocks[class.curBlock].description }}</div>
        <div style="transform: translateY(25%)" flex>{{ class.blocks[class.curBlock].curSize+' / ' + class.blocks[class.curBlock].maxSize }}</div>
        <md-button  ng-disabled="true" ng-click="controller.showChangeDialog(ev,class.curBlock)" >Change Class</md-button>
      </div>
    </div>
  </div>
  <div>
    <h2 layout-padding flex>Next Week</h2>
    <div layout="row" layout-padding>
      <div flex></div>
      <div flex>Teacher</div>
      <div flex>Room Number</div>
      <div flex>Status</div>
      <div flex>Subject</div>
      <div flex>Description</div>
      <div flex>Current / Max size</div>
      <div flex></div>
    </div>
    <div layout="column" layout-padding>
      <div layout='row' ng-repeat="class in controller.nextClasses" flex>
        <div style="transform: translateY(25%)" layout-padding flex>{{ (class.curBlock==0)?'Tue/Wed': 'Thr/Fri' }}</div>
        <div style="transform: translateY(25%)" flex>{{ class.name }}</div>
        <div style="transform: translateY(25%)" flex>{{ class.blocks[class.curBlock].roomNumber }}</div>
        <div style="transform: translateY(25%)" flex>{{ class.blocks[class.curBlock].status }}</div>
        <div style="transform: translateY(25%)" flex>{{ class.blocks[class.curBlock].subject }}</div>
        <div style="transform: translateY(25%)" flex>{{ class.blocks[class.curBlock].description }}</div>
        <div style="transform: translateY(25%)" flex>{{ class.blocks[class.curBlock].curSize+' / ' + class.blocks[class.curBlock].maxSize }}</div>
        <md-button  ng-disabled="(class.blocks[class.curBlock].status=='closed')" ng-click="controller.showChangeDialog(ev,class.curBlock)" >Change Class</md-button>
      </div>
    </div>
  </div>
  <md-button class="btn waves-effect waves-light" ng-click="controller.requestTeachers()">Refresh</md-button>
</div>