<div style="visibility: hidden">
  <div id='assign' class='md-dialog-container' ng-controller="assignStudentController as controller">
    <md-dialog layout-padding>
      <md-dialog-content>
        <h3 layout-padding>Assign Student</h3>
        <!--<md-input-container flex>
          <label>grade</label>
          <md-select id='grade' ng-model="controller.grade" ng-change="controller.changeGrade()">
            <md-option value="" disabled selected>Select Grade</md-option>
            <md-option value="9">9th</md-option>
            <md-option value="10">10th</md-option>
            <md-option value="11">11th</md-option>
            <md-option value="12">12th</md-option>
          </md-select>
        </md-input-container>-->
        <md-autocomplete
          md-no-cache="true"
          ng-disabled="controller.selectDisabled"
          md-selected-item="controller.selectedStudent"
          md-search-text-change=""
          md-search-text="controller.searchText"
          md-selected-item-change="controller.changeStudent()"
          md-items="student in controller.querySearch(controller.searchText)"
          md-item-text="student.Name"
          md-min-length="0"
          placeholder="Student">
          <md-item-template>
            <span md-highlight-text="controller.searchText" md-highlight-flags="^i"
               >{{student.Name}} | Current class: {{ (controller.rootScope.block == 0)?(student.Block1.BlockOpen? 'Open':'closed'): (student.Block2.BlockOpen? 'Open':'closed')}}</span>
          </md-item-template>
          <md-not-found>No Student Found</md-not-found>
        </md-autocomplete>
        <!--<md-input-container class="md-block" flex>
          <label>Student</label>
          <md-select id='students' ng-model="controller.selectedStudent" ng-disabled="controller.selectDisabled" ng-change="controller.changeStudent()">
            <md-option value="" disabled selected>Select Student</md-option>
            <md-option ng-value="$index" ng-repeat="student in controller.studentList"  ng-if='controller.studentList[0].id != -1'
                >{{ student.name }} | Current class: {{ student.blocks[controller.rootScope.block].blocks[controller.rootScope.block].status }}</md-option>
          </md-select>
        </md-input-container>-->
      </md-dialog-content>
      <md-dialog-actions>
        <md-button class="" ng-click="controller.updateStudents()">refresh</md-button>
        <md-button class="" ng-click="controller.closeDialog()">Close</md-button>
        <md-button class="" ng-disabled="controller.submitDisabled" ng-click="controller.addStudent()">Add Student</md-button>
      </md-dialog-actions>
    </md-dialog>
  </div>
</div>
<script src="/js/teacher/assignStudentController.js"></script>