<div style="visibility: hidden">
  <div id='addUser' class='md-dialog-container' ng-controller="addUserController as controller">
    <md-dialog layout-padding>
      <form name="newUserForm" ng-submit="newUserForm.$valid && controller.addUser(controller.newUser)" novalidate>
        <md-dialog-content>
          <h3>Add User</h3>
          <md-input-container>
            <label>Name</label>
            <input ng-model='controller.newUser.name' type="text" required>
          </md-input-container>
          <md-input-container>
            <label>Email</label>
            <input ng-model='controller.newUser.email' type="text" required>
          </md-input-container>
          <md-input-container class="md-block">
          	<md-checkbox ng-model="controller.newUser.Teacher">Is Teacher</md-checkbox>
          </md-input-container>
          <md-input-container class="md-block">
            <md-checkbox ng-model="controller.newUser.Admin">Is Admin</md-checkbox>
          </md-input-container>
        </md-dialog-content>
        <md-dialog-actions>
          <md-button ng-click="controller.closeDialog()">Back</md-button>
          <md-button type="submit">Add Account</md-button>
        </md-dialog-actions>
      </form>
    </md-dialog>
  </div>
</div>
<script src="/js/admin/addUserController.js"></script>