<div style="visibility: hidden">
  <div id='viewSchedule' class='md-dialog-container' ng-controller="viewScheduleController as controller">
    <md-dialog class="dialog-table-size" layout-padding>
      <md-dialog-content>
        <div id="viewTeachers">
          <h3 layout-padding>View Schedule</h3>
          <md-tabs md-dynamic-height md-border-bottom>
             <md-tab label="next">
               <div layout="row" layout-padding>
                 <div flex>Teacher</div>
                 <div flex>Description (Tue/Wed)</div>
                 <div flex>Current / Max size (Tue/Wed)</div>
                 <div flex>Description (Thr/Fri)</div>
                 <div flex>Current / Max size (Thr/Fri)</div>
                 <div flex></div>
               </div>
               <div layout="column" layout-padding>
                 <div layout='row' ng-repeat="class in controller.nextTeacherList" flex>
                   <div style="transform: translateY(25%)" flex>{{ class.Name }}</div>
                   <div style="transform: translateY(25%)" flex>{{ class.Block1.Description }}</div>
                   <div style="transform: translateY(25%)" flex>{{ class.Block1.CurSize+' / ' + class.Block1.MaxSize }}</div>
                   <div style="transform: translateY(25%)" flex>{{ class.Block2.Description }}</div>
                   <div style="transform: translateY(25%)" flex>{{ class.Block2.CurSize+' / ' + class.Block2.MaxSize }}</div>
                   <md-button ng-click="controller.showTeacherStudentList(class)" >View Student List</md-button>
                 </div>
               </div>
             </md-tab>
             <md-tab label="current">
               <div layout="row" layout-padding>
                 <div flex>Teacher</div>
                 <div flex>Description (Tue/Wed)</div>
                 <div flex>Current / Max size (Tue/Wed)</div>
                 <div flex>Description (Thr/Fri)</div>
                 <div flex>Current / Max size (Thr/Fri)</div>
                 <div flex></div>
               </div>
               <div layout="column" layout-padding>
                 <div layout='row' ng-repeat="class in controller.currentTeacherList" flex>
                   <div style="transform: translateY(25%)" flex>{{ class.Name }}</div>
                   <div style="transform: translateY(25%)" flex>{{ class.Block1.Description }}</div>
                   <div style="transform: translateY(25%)" flex>{{ class.Block1.CurSize+' / ' + class.Block1.MaxSize }}</div>
                   <div style="transform: translateY(25%)" flex>{{ class.Block2.Description }}</div>
                   <div style="transform: translateY(25%)" flex>{{ class.Block2.CurSize+' / ' + class.Block2.MaxSize }}</div>
                   <md-button ng-click="controller.showTeacherStudentList(class)" >View Student List</md-button>
                 </div>
               </div>
             </md-tab>
          </md-tabs>
        </div>
        <div id="viewStudentList" style="display:none">
          <h3 layout-padding>View Students</h3>
          <div layout="row" layout-padding>
          <div class="cell-shading" flex>Tue/Wed</div>
          <div class="cell-shading" flex></div>
          <div class="cell-shading" flex>Thu/Fri</div>
          <div class="cell-shading" flex></div>
        </div>
        <div layout="row">
          <div layout='column' ng-repeat="column in controller.studentList" ng-init="outerIndex = $index;" flex>
            <div flex="50" style="max-height:50px" ng-class="$odd?'cell-shading':''" layout="row" ng-repeat="row in column">
              <div style="transform: translateY(25%)" layout-padding flex>{{ (row.Name!='')?row.Name+' | grade:'+row.Grade:row.Name }}</div>
              <!--<md-button style="height:30px" ng-show="(row.id != -1)" ng-click="controller.removeStudent($index, outerIndex)">Remove Student</md-button>-->
            </div>
          </div>
        </div>
        </div>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button ng-show="controller.showBack" ng-click="controller.updateStudents(controller.selectedTeacher, controller.selectedCurrentWeek)">Refresh</md-button>
        <md-button ng-show="controller.showBack" ng-click="controller.hideTeacherStudentList()">Back</md-button>
        <md-button ng-show="!controller.showBack" ng-click="controller.updateTeachers()">Refresh</md-button>
        <md-button ng-click="controller.closeDialog()">Close Schedule</md-button>
      </md-dialog-actions>
    </md-dialog>
  </div>
</div>
<script src="/js/admin/viewScheduleController.js"></script>