.table-container {
    margin: 1rem 2rem 1rem;
    padding: 0rem 2rem 2rem;
}
.mat-table {
    overflow: auto;
    max-height: 17rem;
}

.mat-column-changeButton {
    overflow: initial;
}

mat-dialog-content {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

mat-dialog-actions {
    float: right;
}