.table-container {
    margin: 2rem 2rem;
    padding: 0rem 2rem 2rem;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .table-container h2 {
    padding: 1rem 1rem 0rem 1rem;
  }

  .mat-cell {
    overflow: visible;
  }