<!DOCTYPE html>
<html  ng-app="SelectionApp">
  <head>
    <base target="_top">
    <link rel="stylesheet" href="{{.URL.Host}}/css/stylesheet.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  </head>
  <body>
    <div id="main">
      <!-- tab start -->
      {{ if and .Admin .Teacher }}
        <md-tabs md-dynamic-height md-border-bottom>
      {{ end }}
      
      <!-- teacher main -->
      {{ if .Teacher}}
        
        <!--teacher tab start-->
        {{ if .Admin}}
          <md-tab label="Teacher View">
        {{ end }}
        
        {{ includeHTML "html/teacher/teacherMainView.html" }}
        
        <!-- teacher tab end -->
        {{ if .Admin }}
          </md-tab>
        {{ end }}
      {{ end }}
      
      <!-- admin main -->
      {{ if .Admin }}
      
        <!--admin tab start-->
        {{ if .Teacher }}
          <md-tab label="Admin View">
        {{ end }}
        
        {{ includeHTML "html/admin/adminMainView.html" }}
          
        <!-- admin tab end -->
        {{ if .Teacher }}
          </md-tab>
        {{ end }}
      {{ end }}
      
      <!-- tab end -->
      {{ if and .Admin .Teacher }}
        </md-tabs>
      {{ end }}
      
      <!-- student main -->
      {{ if and (not .Admin) (not .Teacher) }}
        {{ includeHTML "html/student/studentMainView.html" }}
      {{ end }}
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script>
      var curPage = 'main';
      function showPage(page) {
        $("#"+curPage).hide();
        $("#"+page).show();
        curPage = page;
      }
      function clearCache() {
        google.script.run.clearCache();
      }

      var app = angular.module('SelectionApp', ['ngMaterial']);
    </script>
    <script src="{{.URL.Host}}/js/objService.js"></script>
    {{ if .Admin }}
      {{ includeHTML "html/admin/addUser.html" }}
      {{ includeHTML "html/admin/editUser.html" }}
      {{ includeHTML "html/admin/removeUser.html" }}
      {{ includeHTML "html/admin/viewSchedule.html" }}
      <script src="{{.URL.Host}}/js/admin/adminMainViewController.js"></script>
      <script src="{{.URL.Host}}/js/admin/addUserController.js"></script>
      <script src="{{.URL.Host}}/js/admin/editUserController.js"></script>
      <script src="{{.URL.Host}}/js/admin/removeUserController.js"></script>
      <script src="{{.URL.Host}}/js/admin/viewScheduleController.js"></script>
    {{ end }}
    {{ if .Teacher }}
      {{ includeHTML "html/teacher/assignStudent.html" }}
      {{ includeHTML "html/teacher/editClass.html" }}
      <script src="{{.URL.Host}}/js/teacher/teacherMainViewController.js"></script>
      <script src="{{.URL.Host}}/js/teacher/assignStudentController.js"></script>
      <script src="{{.URL.Host}}/js/teacher/editClassController.js"></script>
    {{ end }}
    {{ if and (not .Admin) (not .Teacher) }}
      {{ includeHTML "html/student/changeClass.html" }}
      <script src="{{.URL.Host}}/js/student/studentMainViewController.js"></script>
      <script src="{{.URL.Host}}/js/student/changeClassController.js"></script>
    {{ end }}
    <p></p>
    <md-button onclick="clearCache()">clear cache</md-button>
  </body>
</html>