<div style="visibility: hidden">
  <div id="change" class='md-dialog-container' ng-controller="changeClassController as controller">
    <md-dialog class="dialog-table-size" layout-padding>
      <md-dialog-content>
        <h2>Change {{ (controller.blockChange==0)?'Tue/Wed': 'Thr/Fri' }} </h2>
        <div>
          <div layout="row" layout-padding>
            <div flex>Teacher</div>
            <div flex>Room Number</div>
            <div flex>Status</div>
            <div flex>Subject</div>
            <div flex>Description</div>
            <div flex>Current / Max size</div>
            <div flex></div>
          </div>
          <div layout="column" layout-padding>
            <div layout='row' ng-repeat="class in controller.classes" ng-if="class.blocks[controller.blockChange].MaxSize > 0 && controller.rootScope.mainView.nextClasses[controller.blockChange].Email !== class.Email">
              <div style="transform: translateY(25%)" flex>{{ class.Name }}</div>
              <div style="transform: translateY(25%)" flex>{{ class.blocks[controller.blockChange].RoomNumber }}</div>
              <div style="transform: translateY(25%)" flex>{{ class.blocks[controller.blockChange].BlockOpen?'Open':'closed' }}</div>
              <div style="transform: translateY(25%)" flex>{{ class.blocks[controller.blockChange].Subject }}</div>
              <div style="transform: translateY(25%)" flex>{{ class.blocks[controller.blockChange].Description }}</div>
              <div style="transform: translateY(25%)" flex>{{ class.blocks[controller.blockChange].CurSize+' / '+class.blocks[controller.blockChange].MaxSize }}</div>
              <md-button ng-disabled="!(class.blocks[controller.blockChange].BlockOpen &&
                  class.blocks[controller.blockChange].CurSize < class.blocks[controller.blockChange].MaxSize)"
                  ng-click="controller.selectClass(class)">Select Class</md-button>
            </div>
          </div>
        </div>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button class="btn waves-effect waves-light" ng-click="controller.requestTeachers()">Refresh</md-button>
        <md-button class="btn waves-effect waves-light" ng-click="controller.closeDialog()">Back</md-button>
      </md-dialog-actions>
    </md-dialog>
  </div>
</div>
<script src="/js/student/changeClassController.js"></script>