<div ng-controller="mainViewController as controller">
  <div>
    <h2 layout-padding flex>Current Week</h2>
    <div layout="row" layout-padding>
      <div flex></div>
      <div flex>Teacher</div>
      <div flex>Room Number</div>
      <div flex>Status</div>
      <div flex>Subject</div>
      <div flex>Description</div>
      <div flex>Current / Max size</div>
      <div flex></div>
    </div>
    <div layout="column" layout-padding>
      <div layout='row' ng-repeat="class in controller.currentClasses" ng-init="index = $index" flex>
        <div style="transform: translateY(25%)" layout-padding flex>{{ (class.curBlock==0)?'Tue/Wed': 'Thr/Fri' }}</div>
        <div style="transform: translateY(25%)" flex>{{ class.Name }}</div>
        <div style="transform: translateY(25%)" flex>{{ class.blocks[index].RoomNumber }}</div>
        <div style="transform: translateY(25%)" flex>{{ class.blocks[index].BlockOpen?'Open': 'Closed' }}</div>
        <div style="transform: translateY(25%)" flex>{{ class.blocks[index].Subject }}</div>
        <div style="transform: translateY(25%)" flex>{{ class.blocks[index].Description }}</div>
        <div style="transform: translateY(25%)" flex>{{ class.blocks[index].CurSize+' / ' + class.block1.MaxSize }}</div>
        <md-button  ng-disabled="true" >Change Class</md-button>
      </div>
    </div>
  </div>
  <div>
    <h2 layout-padding flex>Next Week</h2>
    <div layout="row" layout-padding>
      <div flex></div>
      <div flex>Teacher</div>
      <div flex>Room Number</div>
      <div flex>Status</div>
      <div flex>Subject</div>
      <div flex>Description</div>
      <div flex>Current / Max size</div>
      <div flex></div>
    </div>
    <div layout="column" layout-padding>
      <div layout='row' ng-repeat="class in controller.nextClasses track by $index" ng-init="index = $index" flex>
        <div style="transform: translateY(25%)" layout-padding flex>{{ (class.curBlock==0)?'Tue/Wed': 'Thr/Fri' }}</div>
        <div style="transform: translateY(25%)" flex>{{ class.Name }}</div>
        <div style="transform: translateY(25%)" flex>{{ class.blocks[index].RoomNumber }}</div>
        <div style="transform: translateY(25%)" flex>{{ class.blocks[index].BlockOpen?'Open': 'Closed' }}</div>
        <div style="transform: translateY(25%)" flex>{{ class.blocks[index].Subject }}</div>
        <div style="transform: translateY(25%)" flex>{{ class.blocks[index].Description }}</div>
        <div style="transform: translateY(25%)" flex>{{ class.blocks[index].CurSize+' / ' + class.blocks[index].MaxSize }}</div>
        <md-button  ng-disabled="!class.blocks[index].BlockOpen" ng-click="controller.openDialog($event, $index)" >Change Class</md-button>
      </div>
    </div>
  </div>
  <md-button class="btn waves-effect waves-light" ng-click="controller.requestTeachers(false)">Refresh</md-button>
</div>