<div style="visibility: hidden">
  <div id="change" class='md-dialog-container' ng-controller="changeClassController as controller">
    <md-dialog class="dialog-table-size" layout-padding>
      <md-dialog-content>
        <h2>Change {{ (controller.rootScope.requestedChange.curBlock==0)?'Tue/Wed': 'Thr/Fri' }} </h2>
        <div>
          <div layout="row" layout-padding>
            <div flex>Teacher</div>
            <div flex>Room Number</div>
            <div flex>Status</div>
            <div flex>Subject</div>
            <div flex>Description</div>
            <div flex>Current / Max size</div>
            <div flex></div>
          </div>
          <div layout="column" layout-padding>
            <div layout='row' ng-repeat="class in controller.classes">
              <div style="transform: translateY(25%)" flex>{{ class.name }}</div>
              <div style="transform: translateY(25%)" flex>{{ class.blocks[controller.rootScope.requestedChange.curBlock].roomNumber }}</div>
              <div style="transform: translateY(25%)" flex>{{ class.blocks[controller.rootScope.requestedChange.curBlock].status }}</div>
              <div style="transform: translateY(25%)" flex>{{ class.blocks[controller.rootScope.requestedChange.curBlock].subject }}</div>
              <div style="transform: translateY(25%)" flex>{{ class.blocks[controller.rootScope.requestedChange.curBlock].description }}</div>
              <div style="transform: translateY(25%)" flex>{{ class.blocks[controller.rootScope.requestedChange.curBlock].curSize+' / '+class.blocks[controller.rootScope.requestedChange.curBlock].maxSize }}</div>
              <md-button ng-disabled="!(class.blocks[controller.rootScope.requestedChange.curBlock].status=='open'&& 
                  class.blocks[controller.rootScope.requestedChange.curBlock].curSize < class.blocks[controller.rootScope.requestedChange.curBlock].maxSize)"
                  ng-click="controller.selectClass(class)">Select Class</md-button>
            </div>
          </div>
        </div>
      </md-dialog-content>
      <md-dialog-actions>
        <md-button class="btn waves-effect waves-light" ng-click="controller.requestTeachers()">Refresh</md-button>
        <md-button class="btn waves-effect waves-light" ng-click="controller.closeDialog()">Back</md-button>
      </md-dialog-actions>
    </md-dialog>
  </div>
</div>
<script src="/js/student/changeClassController.js"></script>