<!DOCTYPE html>
<html  ng-app="SelectionApp">
  <head>
    <base target="_top">
    <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/200px-Google_%22G%22_Logo.svg.png">
    <link rel="manifest" href="/js/manifest.json">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.6/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body ng-cloak>
    <div ng-controller="messaging"></div>
  	<md-toolbar>
  		<div class="md-toolbar-tools">
	  		<h2 flex>E3 Selection App</h2>
        <p>{{.Name}}</p>
        {{ if isDevServer }}
        <div ng-controller="menu as ctrl">
            <md-menu>
              <md-button aria-label="Open view selection menu" ng-click="ctrl.openMenu($mdMenu, $event)">
                <md-icon ng-bind="'menu'"></md-icon>
              </md-button>
              <md-menu-content >
                <md-menu-item>
                  <md-button ng-click="ctrl.openView(0)">
                    <md-icon ng-bind="'edit'"></md-icon>
                    Student View
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="ctrl.openView(1)">
                    <md-icon ng-bind="'class'"></md-icon>
                    Teacher View
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="ctrl.openView(2)">
                    <md-icon ng-bind="'work'"></md-icon>
                    Admin View
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="ctrl.openView(3)">
                    <md-icon ng-bind="'work'"></md-icon>
                    Teacher and Admin View
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
        </div>
        {{ end }}
	  	</div>
  	</md-toolbar>
    <div id="main">
      <!-- tab start -->
      {{ if and .Admin .Teacher }}
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Teacher View">
            {{ includeHTML "html/teacher/teacherMainView.html" }}
          </md-tab>
          <md-tab label="Admin View">
            {{ includeHTML "html/admin/adminMainView.html" }}
          </md-tab>
        </md-tabs>
      {{ end }}

       <!-- teacher main -->
      {{ if and .Teacher (not .Admin)}}
      {{ includeHTML "html/teacher/teacherMainView.html" }}
      {{ end }}
      
      <!-- admin main -->
      {{ if and .Admin (not .Teacher)}}
      {{ includeHTML "html/admin/adminMainView.html" }}
      {{ end }}

      <!-- student main -->
      {{ if and (not .Admin) (not .Teacher) }}
        {{ includeHTML "html/student/studentMainView.html" }}
      {{ end }}
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.6/angular-material.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.0/firebase-messaging.js"></script>
    <script>
      // Initialize Firebase

      var config = {
        apiKey: {{ firebaseApiKey }},
        authDomain: "{{ projectID }}.firebaseapp.com",
        databaseURL: "https://{{ projectID }}.firebaseio.com",
        projectId: {{ projectID }},
        storageBucket: "{{ projectID }}.appspot.com",
        messagingSenderId: {{ senderID }}
      };
      firebase.initializeApp(config);

      var firebaseKey = {{ firebaseKey }};

      var curPage = 'main';
      function showPage(page) {
        $("#"+curPage).hide();
        $("#"+page).show();
        curPage = page;
      }
      
      function postMethod(method, data, callback) {
      	var sData = JSON.stringify(data);
      	$.ajax({
          method: "POST",
          url: "/api"+method,
          data: sData,
          contentType: 'text/plain',
          dataType: "json",
          success: callback
        })
      }
      
      function getMethod(method, data, callback) {
      	$.ajax({
          type: "GET",
          url: "/api"+method,
          data: data,
          contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
          dataType: "json",
          success: callback
        })
      }
      
      $(document).ready(function(){
        $(window).trigger('hashchange');
      }) 
      var app = angular.module('SelectionApp', ['ngMaterial', 'ngSanitize']);

      app.controller('menu', function($mdDialog) {
        var originatorEv;
        var ctrl = this;

        ctrl.openMenu = function($mdMenu, ev) {
          originatorEv = ev;
          $mdMenu.open(ev);
        };

        ctrl.openView = function(view) {
          getMethod("/admin/current", null, function(user) {
            ctrl.editUser(view, user);
          });
        };

        ctrl.editUser = function(view, user) {
          if (view === 0) { // student
            user.Teacher = false;
            user.Admin = false;
          } else if (view === 1) { // teacher
            user.Teacher = true;
            user.Admin = false;
          } else if (view === 2) { // admin
            user.Teacher = false;
            user.Admin = true;
          } else if (view === 3) { // teacher and admin
            user.Teacher = true;
            user.Admin = true;
          }
          postMethod("/admin/edituser", user);
          location.reload(false)
        };
        ctrl.reloadPage = function() {
          window.console.log("test");
        }
      });
    </script>
    <script src="/js/messaging.js"></script>
    {{ if .Admin }}
      <script src="/js/admin/adminMainViewController.js"></script>
      <script >var clientId = {{ clientID }}; var developerKey = {{ apiKey }}</script>
      <script src="/js/admin/importSelector.js"></script>
      <script src="https://apis.google.com/js/api.js?onload=onApiLoad"></script>
      {{ includeHTML "html/admin/addUser.html" }}
      {{ includeHTML "html/admin/editUser.html" }}
      {{ includeHTML "html/admin/removeUser.html" }}
      {{ includeHTML "html/admin/viewSchedule.html" }}
      {{ includeHTML "html/admin/importOption.html" }}
      <!-- <md-button flex="50" onclick="postMethod('/admin/sendmessage','student')">test student messaging </md-button>
      <md-button flex="50"onclick="postMethod('/admin/sendmessage','admin')">test admin messaging</md-button> -->
    {{ end }}
    {{ if .Teacher }}
      <script>var isTeacher = true;</script>
      <script src="/js/teacher/teacherMainViewController.js"></script>
      {{ includeHTML "html/teacher/assignStudent.html" }}
      {{ includeHTML "html/teacher/editClass.html" }}
    {{ end }}
    {{ if and (not .Admin) (not .Teacher) }}
      <script>var isTeacher = false;</script>
      <script src="/js/student/studentMainViewController.js"></script>
      {{ includeHTML "html/student/changeClass.html" }}
    {{ end }}
    <p></p>
  </body>
</html>