<!DOCTYPE html>
<html  ng-app="SelectionApp">
  <head>
    <base target="_top">
    <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/200px-Google_%22G%22_Logo.svg.png">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.6/angular-material.min.css">
  </head>
  <body>
  	<md-toolbar>
  		<div class="md-toolbar-tools">
	  		<h2 flex>E3 Selection App</h2>
	  		<p>{{.Name}}</p>
	  	</div>
  	</md-toolbar>
    <div id="main">
      <!-- tab start -->
      {{ if and .Admin .Teacher }}
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Teacher View">
            {{ includeHTML "html/teacher/teacherMainView.html" }}
          </md-tab>
          <md-tab label="Admin View">
            {{ includeHTML "html/admin/adminMainView.html" }}
          </md-tab>
        </md-tabs>
      {{ end }}

       <!-- teacher main -->
      {{ if and .Teacher (not .Admin)}}
      {{ includeHTML "html/teacher/teacherMainView.html" }}
      {{ end }}
      
      <!-- admin main -->
      {{ if and .Admin (not .Teacher)}}
      {{ includeHTML "html/admin/adminMainView.html" }}
      {{ end }}

      <!-- student main -->
      {{ if and (not .Admin) (not .Teacher) }}
        {{ includeHTML "html/student/studentMainView.html" }}
      {{ end }}
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.6/angular-material.min.js"></script>
    <script>
      /*eslint-disable no-unused-params, no-unused-vars*/
      var curPage = 'main';
      function showPage(page) {
        $("#"+curPage).hide();
        $("#"+page).show();
        curPage = page;
      }
      
      function postMethod(method, data, callback) {
      	var sData = JSON.stringify(data);
      	$.ajax({
		  method: "POST",
		  url: "/api"+method,
		  data: sData,
		  contentType: 'text/plain',
		  dataType: "json",
		  success: callback
		})
      }
      
      function getMethod(method, data, callback) {
      	$.ajax({
		  type: "GET",
		  url: "/api"+method,
		  data: data,
		  contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
		  dataType: "json",
		  success: callback
		})
      }
      
	  $(document).ready(function(){
	  	$(window).trigger('hashchange');
	  }) 
      var app = angular.module('SelectionApp', ['ngMaterial']);
    </script>
    {{ if .Admin }}
      <script src="/js/admin/adminMainViewController.js"></script>
      <script >var clientId = {{ clientID }}; var developerKey = {{ apiKey }}</script>
      <script src="/js/admin/importSelector.js"></script>
      <script src="https://apis.google.com/js/api.js?onload=onApiLoad"></script>
      {{ includeHTML "html/admin/addUser.html" }}
      {{ includeHTML "html/admin/editUser.html" }}
      {{ includeHTML "html/admin/removeUser.html" }}
      {{ includeHTML "html/admin/viewSchedule.html" }}
    {{ end }}
    {{ if .Teacher }}
      <script src="/js/teacher/teacherMainViewController.js"></script>
      {{ includeHTML "html/teacher/assignStudent.html" }}
      {{ includeHTML "html/teacher/editClass.html" }}
    {{ end }}
    {{ if and (not .Admin) (not .Teacher) }}
      <script src="/js/student/studentMainViewController.js"></script>
      {{ includeHTML "html/student/changeClass.html" }}
    {{ end }}
    <p></p>
  </body>
</html>